[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
transformers = "*"
torch = "*"
torchvision = "*" 
torchaudio = "*"
sentencepiece = "*"
fasttext = "*"

[dev-packages]

[requires]
python_version = "3.10"
